/****** GENERALT START ******/
img {
    width: 100%;


}

body {
    margin: 0;
    background-color: #093A82;


}


html {


    /*
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(90vh);
    scroll-snap-type: y proximity;

    scroll-behavior: smooth;
*/


}


#om img,
#video img,
#koncurrence img,
#faellesskab img,
#infografik img,
video {
    filter: drop-shadow(2px 2px 14px #1C1E1F);
}

#om,
#video,
#koncurrence,
#faellesskab,
#infografik {

    margin-top: 5vw;
    margin-right: 2vw;


}

section {
    /*    scroll-snap-align: start;*/
}


#infografik {

    /*    scroll-snap-align: end;*/
}




p,
ul,
button {
    margin: 0;
    color: white;
    font-family: myriad-pro-condensed, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: .8rem;
    filter: drop-shadow(2px 2px 14px #1C1E1F);




}

a {
    margin: 0;
    color: white;
    font-family: myriad-pro-condensed, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: .8rem;

}

h1,
h2 {

    margin: 0;
    padding: 20px 0px 20px 0px;
    color: #BEE0D9;
    font-family: aileron, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    filter: drop-shadow(2px 2px 10px #1C1E1F);



}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
}


#om .sectionwrapper,
#video .sectionwrapper,
#koncurrence .sectionwrapper,
#faellesskab .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

.col {
    flex-grow: 1;
    flex-basis: 400px;
}





/***** GENERALT SLUT *****/

/***** MENU START*****/
a {
    display: block;
    padding-top: 2vw;
    padding-left: 2vw;
    text-decoration: none;
    margin-bottom: 2vw;
}

a:hover {
    color: #093A82;

}

nav img {
    width: 60%;
    padding-left: 4vw;
    padding-top: 2vw;
}

nav .social {
    width: 30%;
    padding-top: 5vw;
    padding-left: 2vw;
}

nav p {
    padding-top: 115vw;
    /*    padding-top: 21vw;*/
    padding-left: 1vw;
    font-weight: 600;
    font-size: .7rem;
    filter: drop-shadow(0px 0px 0px #1C1E1F);
}


header {
    background-color: #FAC177;
    background-size: cover;
    position: fixed;
}

nav {
    height: 100vh;
    width: 20vw;
}

nav h1 {
    padding-top: 25vw;
    padding-left: 4vw;
}

.vertical {
    writing-mode: horizontal-tb;
    display: block;
}

/***** MENU SLUT ****/



/***** MOBIL START *****/




/*Mobil om sektion start */

#om img {
    position: relative;
    width: 30%;
    top: 0vw;
    left: 18vw;

}

#om h1 {
    padding-left: 45vw;
    padding-top: 10vw;

}

#om p {
    padding-left: 30vw;
    padding-right: 10vw;
    max-width: 300px;

}


/*Mobil om sektion slut */

/*Mobil video sektion start */

#video img {
    position: relative;
    width: 70%;
    top: 5vw;
    left: 18vw;

}

#video h1 {
    padding-left: 35vw;
    padding-top: 10vw;


}

/*Mobil video sektion slut */

/*Mobil koncurrence sektion start */

#koncurrence img {
    position: relative;
    width: 30%;
    top: 5vw;
    left: 18vw;


}

#koncurrence h1 {
    padding-left: 40vw;
    padding-top: 5vw;
}



#koncurrence p {
    padding-top: 2vw;
    padding-left: 30vw;
    padding-right: 10vw;
    max-width: 300px;

}

#koncurrence button {}

#koncurrence input {
    margin-left: 30vw;
    margin-top: 2vw;
}

#koncurrence button {
    margin-top: 3vw;
    color: white;
    background-color: #fac177;
    border-color: #fac177;
    text-align: center;
    margin-left: 30vw;
    padding: 5px 10px 5px 10px;
    display: block;
}

#koncurrence #question {
    padding-top: 10vw;
}



ul {

    padding-left: 35vw;
    padding-right: 4vw;
}


/*Mobil koncurrence sektion slut */

/*Mobil fællesskab sektion start */
#faellesskab h1 {
    padding-left: 50vw;
    padding-top: 10vw;
    padding-right: 10vw;

}

#faellesskab h2 {
    padding-top: 10vw;
    padding-left: 30vw;
    padding-right: 10vw;
}

#faellesskab p {
    padding-top: 8vw;
    padding-left: 30vw;
    padding-right: 10vw;
    max-width: 300px;


}

#faellesskab img {
    position: relative;
    width: 40%;
    top: 5vw;
    left: 18vw;
    padding-top: 20px;
}

/*Mobil fællesskab sektion slut */

/*Mobil infografik sektion start */

#infografik h1 {

    padding-top: 2vw;
    padding-left: 30vw;
}



#infografik video {
    position: relative;
    width: 70%;
    top: 5vw;
    left: 18vw;
    padding-top: 20px;
    padding-bottom: 100px;

}

#infografik p {
    padding-left: 25vw;
    padding-right: 15vw;
    padding-bottom: 10vw;
}

/*Mobil infografik sektion slut */






/***** MOBIL SLUT *****/

/***** IPAD START *****/


@media only screen and (min-width : 612px) and (max-width : 913px) {

    h1,
    h2 {
        font-size: 2rem;
    }

    p,
    ul {
        font-size: 1rem;
    }

    a {

        padding-left: 3vw;
        font-size: 1.3rem;

    }

    nav .social {
        width: 25%;
        padding-top: 5vw;
        padding-left: 3vw;
    }

    nav p {
        padding-top: 90vw;
        /*    padding-top: 21vw;*/
        padding-left: 2vw;

        font-size: 1.3rem;
    }


    #splash h1 {

        font-size: 4rem;
        padding-right: 12vw;
    }

    /*Ipad om sektion start */

    #om img {
        width: 65%;
        top: 0vw;


    }

    #om h1 {
        padding-left: 7vw;
        padding-top: 10vw;

    }

    #om p {
        /*
        padding-left: 55vw;
        padding-right: 6vw;
*/
        padding-top: 5vw;
        padding-left: 7vw;
        padding-right: 0vw;
        max-width: 250px;

    }


    /*Ipad om sektion slut */

    /*Ipad video sektion start */
    #video,
    #koncurrence,
    #faellesskab,
    #infografik {
        margin-top: 25vw;
        margin-bottom: 10vw;
    }

    #video h1 {
        padding-left: 45vw;
        padding-top: 10vw;
    }

    /*Ipad video sektion slut */

    /*Ipad koncurrence sektion start */

    #koncurrence img {
        width: 50%;
    }


    #koncurrence #question {
        margin-top: 3vw;
        padding: 0;
        padding-right: 0;



    }

    #koncurrence h1 {
        padding-left: 25vw;
    }



    #koncurrence ul {
        padding-left: 5.5vw;
        text-align: end;
        padding-right: 12vw;
    }

    #koncurrence p {
        padding-left: 0;
        margin-left: 0;
        text-align: end;
        padding-right: 12vw;
    }

    #koncurrence input {
        margin-left: 16vw;
        margin-right: 13vw;

    }

    #koncurrence button {
        margin-left: 22vw;

    }

    #koncurrence .right {
        padding-left: 15vw;
    }


    /*Ipad koncurrence sektion slut */

    /*Ipad fællesskab sektion start */
    #faellesskab h1 {
        padding-left: 25vw;
        padding-top: 0;
    }

    #faellesskab h2 {
        padding-left: 70vw;
        max-width: 150px;
        font-size: 2rem;
    }


    #faellesskab p {
        padding-top: 0;
        padding-left: 65vw;
        padding-right: 10vw;
        text-align: start;
        max-width: 200px;

    }

    #faellesskab img {
        position: relative;
        width: 40%;
        top: 5vw;
        left: 18vw;


    }




    #faellesskab .col {
        flex-grow: 1;
        flex-basis: 400px;
    }

    /*Ipad fællesskab sektion slut */

    /*Ipad infografik sektion start */

    #infografik h1 {
        padding-left: 25vw;

    }

    #infografik video {
        width: 70%;
    }

    /*Ipad infografik sektion slut */
}

/***** IPAD SLUT *****/

/***** IPAD PRO START *****/
@media only screen and (min-width : 913px) and (max-width: 1223px) {

    h1,
    h2 {
        font-size: 2rem;
    }

    p,
    ul,
    button {
        font-size: 1.2rem;
    }

    a {

        padding-left: 3vw;
        font-size: 1.5rem;
        margin-bottom: 2vw;

    }

    nav .social {
        width: 25%;
        padding-top: 5vw;
        padding-left: 3vw;
    }

    nav p {
        padding-top: 93vw;
        /*    padding-top: 21vw;*/
        padding-left: 2vw;

        font-size: 1.6rem;
        font-weight: 600;
    }


    /*Ipad pro SPLASH sektion start*/


    /*Ipad pro SPLASH sektion slut*/

    /*Ipad pro OM sektion start*/
    #om img {
        width: 60%;
    }

    #om h1 {
        padding-top: 15vw;
        padding-left: 10vw;

    }

    #om p {
        padding-left: 10vw;
        padding-right: 5vw;
    }

    /*Ipad pro OM sektion slut*/

    /*Ipad pro VIDEO sektion start*/
    #video h1 {
        padding-left: 44vw;
    }

    /*Ipad pro VIDEO sektion slut*/

    /*Ipad pro KONCURRENCE sektion start*/
    #koncurrence h1 {
        padding-left: 25vw;
    }

    #koncurrence img {
        width: 50%;
    }

    #koncurrence #question {
        padding-top: 5vw;
    }

    #koncurrence p {
        padding-left: 5vw;
        padding-right: 5vw;
        text-align: end;
    }

    #koncurrence ul {
        padding-left: 0;
        padding-right: 15vw;
        text-align: end;
    }

    #koncurrence input {
        margin-left: 23vw;
    }

    #koncurrence button {
        margin-left: 25.5vw;
    }

    /*Ipad pro KONCURRENCE sektion slut*/

    /*Ipad pro FÆLLESSKAB sektion start*/
    #faellesskab .col {
        flex-grow: 1;
        flex-basis: 400px;
        padding-top: 0vw;
    }

    #faellesskab img {
        width: 70%;
    }

    #faellesskab h1 {
        padding-left: 66vw;
        padding-right: 15vw;
    }

    #faellesskab h2 {
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 20vw;
    }

    #faellesskab p {
        padding-left: 18vw;
        padding-right: 10vw;
        padding-top: 15vw;
        text-align: start;
        max-width: 200px;
    }

    /*Ipad pro FÆLLESSKAB sektion slut*/

    /*Ipad pro INFOGRAFIK sektion start*/
    #infografik h1 {
        margin-top: 10vw;
    }

    #infografik video {
        width: 70%;
    }

    /*Ipad pro INFOGRAFIK sektion slut*/


    /***** IPAD PRO SLUT *****/
}

/***** WEB START *****/
@media only screen and (min-width : 1224px) {

    h1,
    h2 {
        font-size: 2rem;
    }

    a {

        padding-left: 4vw;
        font-size: 1.5rem;
        margin-bottom: 2vw;

    }

    p,
    ul,
    button {
        font-size: 1.2rem;
        max-width: 700px;
    }

    nav .social {
        width: 15%;
        padding-top: 3vw;
        padding-left: 4vw;
    }

    nav p {
        padding-top: 13vw;
        /*    padding-top: 21vw;*/
        padding-left: 4vw;
        font-weight: 600;
        font-size: 1.5rem;
    }



    /*Web SPLASH sektion start*/

    #splash .splash_pic {

        left: 5vw;
    }

    /*Web SPLASH sektion slut*/


    /*Web OM sektion start */
    #om img {
        width: 45%;
    }

    #om h1 {
        padding-left: 5vw;
        padding-top: 10vw;
    }

    #om p {

        padding-left: 5vw;
        padding-right: 0vw;
        margin-right: 0;
        max-width: 330px;
    }

    /*Web OM sektion slut */

    /*Web VIDEO sektion start */
    #video img {
        width: 60%;
    }

    #video h1 {
        padding-left: 46vw;
    }

    /*Web VIDEO sektion slut */

    /*Web KONCURRENCE sektion start */
    #koncurrence h1 {
        padding-left: 25vw;
    }

    #koncurrence p {
        padding-top: 0;
        padding-left: 5vw;
        text-align: end;
    }

    #koncurrence ul {
        padding-left: 0vw;
        padding-right: 23vw;
        text-align: end;
    }

    #koncurrence input {
        margin-left: 18vw;

    }

    #koncurrence button {
        margin-left: 20vw;
    }

    #koncurrence .email,
    #koncurrence .answer {
        padding-top: 1vw
    }

    #koncurrence #question {
        padding-top: 2vw;
    }

    /*Web KONCURRENCE sektion slut */

    /*Web FÆLLESSKAB sektion start */
    #faellesskab .col {
        flex-grow: 1;
        flex-basis: 800px;
    }

    #faellesskab img {
        width: 50%;
    }

    #faellesskab h1 {
        padding-left: 25vw;
    }

    #faellesskab h2 {
        padding-top: 15vw;
        padding-left: 0vw;
    }

    #faellesskab p {
        padding-left: 0vw;
    }

    /*Web FÆLLESSKAB sektion slut */

    /*Web INFOGRAFIK sektion start */

    #infografik h1 {
        margin-top: 10vw;
        padding-left: 25vw;

    }

    #infografik video {
        width: 60%;
    }

    /*Web INFOGRAFIK sektion slut */

}




/*****WEB SLUT *****/
